@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 264 50% 97%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 264 80% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 264 40% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 264 40% 95%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 264 75% 80%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 264 75% 90%;
    --input: 264 75% 90%;
    --ring: 264 75% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 264 50% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 264 80% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 264 40% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 264 20% 10%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 264 35% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 264 25% 25%;
    --input: 264 25% 25%;
    --ring: 264 25% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
